@{
    ViewBag.Title = "About This Project";
}
<h2>@ViewBag.Title</h2>

<p>Dr. Emil Geiger, Associate Professor at University of Nevada, Reno, gave a project idea to our team's Human Computer Interaction class for a website that allows the graphing of DEP results.
     He believes that this tool will help researchers visualize their results easily from any internet connected device in the world. These researchers will not need scripting abilities or
     proprietary software to use this website. </p>
<h4>Information on: </h4>
<ul>
    <li><a target="_blank" href="http://www.unr.edu">University of Nevada, Reno</a></li>
    <li><a target="_blank" href="http://www.unr.edu/cse">UNR Computer Science and Engineering Program</a></li>
    <li><a target="_blank" href="http://www.unr.edu/me/faculty-and-staff/geiger">Dr. Emil Geiger</a></li>
</ul>
<h3>The Team</h3>
<dl>
    <dt>Jon Peterson</dt>
    <dd>
       <p style="text-indent: 3em;">
        Jon Peterson is a senior in the Computer Science degree and is minoring in Mathematics at the University of Nevada, Reno.
        He has over ten years of experience with developing programming solutions. He is well versed in C# and has used the technology stack extensively in his professional career.
        Jon enjoys programming and researching hardware projects in his spare time.
       </p>
    </dd>
    <dt>Edward Dibbs</dt>
    <dd>
        <p style="text-indent: 3em;"> 
        Edward Dibbs is a senior currently pursuing a Computer Science and Engineering degree at the University of Nevada, Reno.
        He has one year professional experience with the .NET framework, as well as some moderate experience with C, C++ and Java.
        He is interested in video game development as well as artificial intelligence and machine learning.
        </p>
</dd>
    <dt>Matthew Baker</dt>
    <dd>
        <p style="text-indent: 3em;">
        Matthew Baker is a senior currenting pursuing a Computer Science and Engineering degree at the University of Nevada, Reno. 
        He has experience with C, C++, HTML, Java, and Arduino. His interests include robotics, computer security, embedded systems, and video game development.
        </p>
    </dd>
</dl>
